<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	    http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	    http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.0.xsd 
	    http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-4.0.xsd" default-autowire="byName" default-lazy-init="false">
	    
	<context:property-placeholder location="classpath:${propertie.database}.properties,classpath:system.properties" ignore-unresolvable="true" />

	<!-- 注解支持 -->
	<context:annotation-config />
	<!-- 设置需要进行Spring注解扫描的类包,多个用逗号分开 -->
	<context:component-scan base-package="com.glorypty">
		<!-- 需要把controller去掉，否则影响事务管理 -->
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

</beans>