<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd          
    					http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">  
   
    <!-- 提供方应用信息，用于计算依赖关系 -->  
    <dubbo:application name="GYModule.Provider20886.solr"/>   
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.zookeeper}" />
    <dubbo:protocol name="dubbo" port="20886" />
    
    <!-- 消费 -->
    <dubbo:reference check="false" id="goodsService"  interface="com.glorypty.gymodule.product.bussiness.prd.service.GoodsIService" timeout="300000" version="lj"/>
    <dubbo:reference check="false" id="treeNodeCentreService" interface="com.glorypty.gymodule.centre.bussiness.sys.service.TreeNodeCentreIService" timeout="300000"/>
    <dubbo:reference check="false" id="solrQueueService" interface="com.glorypty.gymodule.centre.bussiness.sys.service.SolrQueueIService" version="lj" timeout="300000"/>
    
    <!-- 服务 -->
    <dubbo:service ref="makeSerialImpl" interface="com.glorypty.gysolr.sys.MakeSerialFacade" version="lj"/>
   
</beans>  